<script type="text/javascript" src="/resource/scripts/printThis.js"></script>
<script type="text/javascript" src="/resource/scripts/towords.js"></script>
<script>$(document).ready(function () { var amount = parseFloat($("th.debitTotal").text().replace(',', '')) || 0; amount = toWords(amount); $("th.towords").text(amount + " Rupees only"); $(".printThis").click(function () { $(".printTable").printThis({ debug: false, importCSS: false, printContainer: true, loadCSS: '/resource/css/invoiceStyle.css', pageTitle: "Software Powered By SIT Solution", removeInline: false, printDelay: 500, header: null }); }); });</script>

<div class="content-box-top">
  <div class="summery_body">
    <div class="content-box-header">
      <div class="clear"></div>
    </div>
    <!-- End .content-box-header -->
    <div id="bodyTab1" style="margin-top: 20px">
      <div class="clear"></div>
      <div id="form" style="margin: 0 auto">
        <form method="get" action="">
          <div class="row">
            <div class="col-6">
              <div style="width: 400px; float: left">
                <div class="caption" style="width: 120px">Account Title :</div>
                <div class="field" style="width: 220px">
                  <%- include('../partials/_level5s', { level5: level5 }) %>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div style="width: 400px; float: left">
                <div class="caption" style="width: 120px">PO #:</div>
                <div class="field" style="width: 150px">
                  <input type="text" name="po_no" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="clear"></div> -->
          <div class="row">
            <div class="col-6">
              <div style="width: 400px; float: left">
                <div class="caption" style="width: 120px">Start Date:</div>
                <div class="field" style="width: 150px">
<<<<<<< HEAD
                  <input type="text" name="fromDate" value="<%= opt.fromDate %> " class="form-control datepicker"
                    style="width: 145px" />
=======
                  <input
                    type="text"
                    name="fromDate"
                    value="<%= opt.fromDate %> "
                    class="form-control datepicker"
                    style="width: 145px"
                  />
>>>>>>> dc260da0be681b9ae38646c581585624a7abb984
                  <!-- <input type="date" name="fromDate" value="" class="form-control" style="width:160px;"> -->
                </div>
              </div> 
            </div>

            <div class="col-6">
              <div style="width: 400px; float: left">
                <div class="caption" style="width: 120px">End Date:</div>
                <div class="field" style="width: 150px">
<<<<<<< HEAD
                  <input type="text" name="toDate" value="<%= opt.toDate %>" class="form-control datepicker"
                    style="width: 145px" />
=======
                  <input
                    type="text"
                    name="toDate"
                    value="<%= opt.toDate %>"
                    class="form-control datepicker"
                    style="width: 145px"
                  />
>>>>>>> dc260da0be681b9ae38646c581585624a7abb984

                  <!-- <input type="date" name="toDate" value="2022-02-23" class="form-control" style="width:160px;"> -->
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div style="width: 400px; float: left">
                <div class="caption" style="width: 120px"></div>
                <div class="field" style="width: 120px">
                  <input type="submit" value="Generate" name="generalReport" class="button" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--form-->
      <div class="clear"></div>
    </div>
    <!-- End bodyTab1 -->
  </div>
  <!-- End .content-box-content -->

  <hr />
  <div style="clear: both; height: 20px"></div>

  <div class="col-xs-12">
    <div class="content-box-content">
      <span style="float: right">
        <button class="button printThis">Print</button>
        <a target="_blank"
          href="ledger-details.php?accountCode=0401010012&po_no=&fromDate=01-01-2001&toDate=23-02-2022&generalReport=Generate&&csv"
          class="button">Export CSV</a>
      </span>
      <div id="bodyTab" class="printTable" style="margin: 0 auto">
        <div class="LogoPanel">
          <img class="logo pull-left" src="" data-pagespeed-url-hash="1247871539"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        </div>
        <div class="partyTitle" style="text-align: left">
          <div style="font-size: 26px; line-height: 40px">
            <%= comp.companyName %>
          </div>
          <%= comp.address %> <br />
            <%= comp.mobile %> <br />
              <%= comp.email %>
        </div>

        <div style="clear: both"></div>

        <div style="text-align: left; margin-bottom: 20px" class="pageHeader">
          <p class="voucherTitle" style="font-size: 18px">
            <%= account_title %> (<%= account_code %> )
          </p>

          <p style="font-size: 12px; padding: 0; text-align: center">
            <span class="pull-left">
              LedgerFrom: <u>
                <%= opt.fromDate %>
              </u> TO: <u>
                <%= opt.toDate %>
              </u>
            </span>
<<<<<<< HEAD
            <span class="pull-right"> ReportGenerated Date: <%= opt.today %> </span>
=======
            <span class="pull-right"> ReportGenerated Date: <%= opt.today %>  </span>
>>>>>>> dc260da0be681b9ae38646c581585624a7abb984
          </p>

          <!-- <p style="float:left; margin-left:0px; font-size:14px" class="repoGen">
                    </p> -->
        </div>
        <div style="clear: both; height: 1"></div>

        <div class="table-responsive">
          <table style="margin: 0 0px; width: 100%" cellspacing="0" class="tableBreak tableStyle">
            <thead class="tHeader">
              <tr>
                <th width="8%" colspan="2" style="text-align: center; border: 1px solid #ddd">
                  Ref
                </th>
                <th width="10%" style="border: 1px solid #ddd">Date</th>
                <th width="45%" style="border: 1px solid #ddd">Description</th>
                <th width="10%" style="text-align: center; border: 1px solid #ddd">
                  Debit
                </th>
                <th width="10%" style="text-align: center; border: 1px solid #ddd">
                  Credit
                </th>
                <th width="15%" style="text-align: center; border: 1px solid #ddd">
                  Balance
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="fontBig" colspan="3" style="
                    border-right: none;
                    border-left: none;
                    background-color: #f8f8f8;
                    font-weight: normal;
                  "></td>
                <td class="fontBig bold" class="fontBig bold" style="
                    text-align: right;
                    border-right: 1px solid #e5e5e5;
                    border-left: none;
                  ">
                  Opening Balance:
                </td>
                <td class="fontBig" colspan="2" style="border-right: none; border-left: none"></td>
                <td class="fontBig bold" style="
                    border-left: none;
                    border-right: none;
                    text-align: right;
                  ">
                  0 CR
                </td>
              </tr>
              <tr>
                <% gls.forEach(g=> { %>

<<<<<<< HEAD
                  <% g.transactions.forEach(e=> { %>


                    <td class="fontBig" style="text-align: center">
                      <%= g.tt %>
                    </td>
                    <td class="fontBig" style="text-align: center">
                      <a href="printv/<%= g.jvNum %> " target="_blank">
                        <%= g.jvNum %>
                      </a>
                    </td>
                    <td style="text-align: left">
                      <%= g.jvDate.getDate().toString().padStart(2,'0') + '-' +
                        (g.jvDate.getMonth()+1).toString().padStart(2,'0') + '-' + g.jvDate.getFullYear().toString() %>
                    </td>
                    <td class="fontBig" style="text-decoration: none; color: black !important">
                      <%= e.narration %>
                    </td>
                    <td class="fontBig" style="text-align: right" class="debitColumn">
                      <%= e.debit %>
                    </td>
                    <td class="fontBig" style="text-align: right" class="creditColumn">
                      <%= e.credit %>
                    </td>
                    <% opt.bal +=typeof(e.debit)=="number" ? e.debit : 0 %>
                      <% opt.bal -=typeof(e.credit)=="number" ? e.credit : 0 %>
                        <% if (opt.bal<=0) { %>
                          <% opt.drcr="CR" %>
                            <% } %>
                              <% if (opt.bal>0) { %>
                                <% opt.drcr="DR" %>
                                  <% } %>

                                    <td class="fontBig" style="text-align: right">
                                      <%= Math.abs(opt.bal) %>
                                        <%= opt.drcr %>
                                    </td>
=======
                <td class="fontBig" style="text-align: center"><%= g.tt  %></td>
                <td class="fontBig" style="text-align: center">
                  <a href="printv/<%= g.jvNum %> " target="_blank"><%= g.jvNum  %> </a>
                </td>
                <td style="text-align: left"><%= g.jvDate.getDate().toString().padStart(2,'0') + '-' + (g.jvDate.getMonth()+1).toString().padStart(2,'0') + '-' + g.jvDate.getFullYear().toString() %> </td>
                <td
                  class="fontBig"
                  style="text-decoration: none; color: black !important"
                >
                  <%= e.narration %> 
                </td>
                <td
                  class="fontBig"
                  style="text-align: right"
                  class="debitColumn"
                >
                  <%= e.debit %> 
                </td>
                <td
                  class="fontBig"
                  style="text-align: right"
                  class="creditColumn"
                ><%= e.credit %> </td>
                <% opt.bal += typeof(e.debit) == "number" ? e.debit : 0  %> 
                <% opt.bal -= typeof(e.credit) == "number" ? e.credit : 0 %>
                <% if (opt.bal<=0) { %>
                  <% opt.drcr = "CR" %> 
                <% } %>
                <% if (opt.bal>0) { %>
                  <% opt.drcr = "DR" %> 
                <% } %>
                
                <td class="fontBig" style="text-align: right"><%= Math.abs(opt.bal) %> <%= opt.drcr %> </td>
>>>>>>> dc260da0be681b9ae38646c581585624a7abb984
              </tr>
              <% }) %>
                <!-- TRANS.EACH -->
                <% }) %>
                  <!-- GLS.EACH -->
                  <!-- for pending cheques  -->

                  <!-- <tr>
                                <td colspan="4" style="text-align:right;">Closing Balance without Pending Cheques:</td>
                                <td colspan="2" style=""></td>
                                <td style="text-align:right" class="closingBalance">
                                                                                </td>
                            </tr> -->
            </tbody>
          </table>
        </div>

        <div style="clear: both"></div>
        <div class="" style="margin-top: 50px">
          <div>
            <span style="float: left">Company Signature</span>
            <span style="float: right">Party Signature</span>
          </div>

          <div class="clear" style="height: 10px"></div>
          <div class="text-center" style="border-top: 1px dotted lightgrey">
            <%= comp.companyName %>
          </div>
        </div>
      </div>
      <!--bodyTab2-->
    </div>
  </div>
  <!--summery_body-->
</div>

<script>
  $(document).ready(function () {
    $("select").selectpicker();
    $("input[name='jvReference']").focus();
    $(".receiptNum,.amount").numericFloatOnly();
    $("select.accCodeSelector").change(function () { });
    $("select.accCodeSelector").change(function (e) {
      setTimeout(function () {
        if ($("select.accCodeSelector option:selected").val() != "") {
          var account_code = $("select.accCodeSelector option:selected").val();
          getAccountBalance(account_code, ".insertAccTitle");
          $(".narration").focus();

          // if ($("input.admin").val() == "Y") {
          //   getAccountBalance(account_code, ".insertAccTitle");
          // }
          // if (account_code.startsWith("010104") == true) {
          //   getBillsListOfAccounts(account_code);
          // }
          // if ($("select.billNoSelector").length) {
          //   $("select.billNoSelector").focus();
          //   $("select.billNoSelector").refresh();
          // } else {
          //   $(".narration").focus();
          // }
        }
      }, 100);
    });
    $("select.billNoSelector").change(function (e) {
      var val = $("select.billNoSelector option:selected").html();
      var array = val.split("Amt:");
      $("input[name=billAmount]").val(array[1]);
    });
    $("input.narration").keyup(function (e) {
      if (e.keyCode == 13 && $(this).val() != "") {
        $("input.amount").focus();
      }
    });
    $("input.amount").keyup(function (e) {
      if (e.keyCode == 13 && $(this).val() != "") {
        $(this).quickSubmitDrCr();
      }
    });
    $(".saveJournal").click(function () {
      $(this).saveJournal();
    });
    $(window).keyup(function (e) {
      if (e.altKey == true && e.keyCode == 83) {
        e.preventDefault();
        $("#form").click();
        $(".saveJournal").click();
        return false;
      }
    });
    $(".cdr_btn").on("click", function () {
      $(this).quickSubmitDrCr();
    });
    $(".cdr_btn").on("keydown", function (e) {
      if (e.keyCode == 13) {
        $(this).quickSubmitDrCr();
      }
    });
    getCashBalance();
    $("select.cash_accounts_list").change(getCashBalance);
  });
</script>